*{
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f5f5f5;
    scroll-behavior: smooth;
    
}

nav{
    margin-bottom: 50px;
}


/* #home .container{
    
    font-weight: 600;
   
    padding-top: 1.563rem;
    padding-bottom: 1.563rem;
  
} */
/* 
nav ul{
    list-style-type: none;
    display: flex;
    justify-content: space-around;

}
nav ul a{
    text-decoration: none;
    color:white
    
}
nav{
    margin-bottom: 50px;

} */

#home{
    background-image: url(../images/intro-bg.jpg);
    height:100vh;
    background-position: center center;
    background-size: cover;
    
   

}
#home .home-background{
    background-color: rgba(0,0,0,0.6);
    height:100vh;
}
#home h2::after{
    content:"|";
    animation-duration: 10s;
    animation-iteration-count: infinite;
    animation-name: movingletters;
}

@keyframes movingletters{
    0%{content: "|";}
    1%{content: "C|";}
    2%{content: "Ce|";}
    3%{content: "Ceo|";}
    4%{content: "Ceo |";}
    5%{content: "Ceo D|";}
    6%{content: "Ceo De|";}
    6.5%{content: "Ceo Dev|";}
    7%{content: "Ceo DevF|";}
    8%{content: "Ceo DevFo|";}
    9%{content: "Ceo DevFol|";}
    10%{content: "Ceo DevFoli|";}
    11%{content: "Ceo DevFolio|";}
    12%{content: "Ceo DevFoli|";}
    13%{content: "Ceo DevFo|";}
    14%{content: "Ceo DevF|";}
    15%{content: "Ceo Dev|";}
    16%{content: "Ceo De|";}
    17%{content: "Ceo D|";}
    18%{content: "Ceo |";}
    19%{content: "Ceo|";}
    20%{content: "Ce|";}
    21%{content: "C|";}
    22%{content: "W|";}
    23%{content: "We|";}
    24%{content: "Web|";}
    25%{content: "Web |";}
    26%{content: "Web D|";}
    27%{content: "Web De|";}
    28%{content: "Web Dev|";}
    29%{content: "Web Devl|";}
    30%{content: "Web Devlo|";}
    31%{content: "Web Devlop|";}
    32%{content: "Web Devlope|";}
    33%{content: "Web Devloper|";}
    34%{content: "Web Devlope|";}
    35%{content: "Web Devlop|";}
    36%{content: "Web Devlo|";}
    37%{content: "Web Devl|";}
    38%{content: "Web Dev|";}
    39%{content: "Web De|";}
    40%{content: "Web D|";}
    41%{content: "Web |";}
    42%{content: "Web|";}
    43%{content: "We|";}
    44%{content: "W|";}
    45%{content: "We|";}
    46%{content: "Web|";}
    47%{content: "Web |";}
    48%{content: "Web D|";}
    49%{content: "Web De|";}
    50%{content: "Web Des|";}
    51%{content: "Web Desi|";}
    52%{content: "Web Desig|";}
    53%{content: "Web Design|";}
    54%{content: "Web Designe|";}
    55%{content: "Web Designer|";}
    56%{content: "Web Designe|";}
    57%{content: "Web Design|";}
    58%{content: "Web Desig|";}
    59%{content: "Web Desi|";}
    60%{content: "Web Des|";}
    61%{content: "Web De|";}
    62%{content: "Web D|";}
    63%{content: "Web |";}
    64%{content: "Web|";}
    65%{content: "We|";}
    66%{content: "W|";}
    67%{content: "|";}
    68%{content: "Fr|";}
    69%{content: "Fro|";}
    70%{content: "Fron|";}
    71%{content: "Front|";}
    72%{content: "Fronte|";}
    73%{content: "Fronten|";}
    74%{content: "Frontend|";}
    75%{content: "Frontend |";}
    76%{content: "Frontend D|";}
    77%{content: "Frontend De|";}
    78%{content: "Frontend Dev|";}
    79%{content: "Frontend Deve|";}
    80%{content: "Frontend Devel|";}
    81%{content: "Frontend Develo|";}
    82%{content: "Frontend Develop|";}
    83%{content: "Frontend Develope|";}
    84%{content: "Frontend Developer|";}
    85%{content: "Frontend Develope|";}
    86%{content: "Frontend Develop|";}
    87%{content: "Frontend Develo|";}
    88%{content: "Frontend Devel|";}
    89%{content: "Frontend Deve|";}
    90%{content: "Frontend Dev|";}
    90.5%{content: "Frontend De|";}
    91%{content: "Frontend D|";}
    91.5%{content: "Frontend |";}
    92%{content: "Fronten|";}
    92.5%{content: "Fronte|";}
    93%{content: "Front|";}
    93.5%{content: "Fron|";}
    94%{content: "Fro|";}
    94.5%{content: "Fr|";}
    95%{content: "F|";}
    95.2%{content: "|";}
    95.5%{content: "G|";}
    95.8%{content: "Gr|";}
    96%{content: "Gra|";}
    96.2%{content: "Graf|";}
    96.5%{content: "Grafi|";}
    96.8%{content: "Grafic|";}
    97%{content: "Grafic D|";}
    97.2%{content: "Grafic De|";}
    97.5%{content: "Grafic Des|";}
    97.8%{content: "Grafic Desi|";}
    98%{content: "Grafic Desig|";}
    98.2%{content: "Grafic Design|";}
    98.3%{content: "Grafic Designer|";}
    98.4%{content: "Grafic Design|";}
    98.5%{content: "Grafic Desig|";}
    98.6%{content: "Grafic Desi|";}
    98.7%{content: "Grafic Des|";}
    98.8%{content: "Grafic De|";}
    98.9%{content: "Grafic |";}
    99%{content: "Grafi|";}
    95.2%{content: "Graf|";}
    95.5%{content: "Gr|";}
    100%{content: "|";}

}

 #home .home-content {
    align-items: center;
    justify-content: center;
} 

  #home .home-content .content{
    
    color: white;
    text-align: center;
     margin-top: 150px; 
 }

#home .home-content .content h1{
    font-size: 4.5rem;
    font-weight: 600;
} 

#about{
    padding-top: 4rem;
    margin:auto;
  

}
#about .container{
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
#about .skills{
    padding:10px;
}
#about .about-content-left h5{
    margin-bottom: 5px;
}

#about .about-content-right p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;

}
#about .about-content-right h3{
    margin-bottom: 30px;
    position:relative;
}

#about .about-content-right h3::before{
    content:"";
    position:absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
    
}


#service .header{
    text-align: center;
    margin-bottom: 50px;

}
#service .header h3{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
#service .header p{
    position:relative;
    
}

#service .header p::before{
    content:"";
    position:absolute;
    height: 5px;
    background-color: #0078ff;
    width: 40px;
    bottom: -12px;
    left:50%;
    transform:translate(-50%);

    
    
}

#service .content{
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
}

#service .icon-cover{
    width:110px;
    height:110px;
    border-radius:50%;
    border:10px solid #0078ff ;
    text-align: center;
    padding:20px;
    margin-left:35%;
    margin-bottom: 45px;
    transition: all 500ms ease;
}


#service i{
    color:black;
    font-size: 50px;
    text-align: center;
    
  

}

#service .content:hover .icon-cover{
   
    background-color: #0078ff;
    box-shadow: 0 0 0 4px #cde1f8;
    /* border-color: rgba(0,123,255,0.3); */

}
#service .content:hover i{
    color:white;
}


.numbers{
    background-image: url(../images/counters-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding: 8rem 0;
    margin-bottom: 1.8rem;

}
.numbers .numbers-layer{
    background-color:  #0078ff;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.7;
    padding: 0;
}

.numbers .content{
    color:white;
    position:relative;
    
}

.numbers .content p{
    font-size: 2rem;
}
.numbers .content span{
    font-weight: 400;
    line-height: 1.5;

}
.numbers .content .icon-border{
    width:60px;
    height:60px;
    border-radius: 50%;
    box-shadow: 0 0 0 10px #cde1f8;
    font-size: 2rem;
    text-align: center;
    margin:0 auto;
}



#work{
    padding-top: 4rem;
}

#work .work-header h2{
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}

#work .work-header p{
    position:relative;
}
#work .work-header p::before{
    content:"";
    position:absolute;
    height: 5px;
    background-color: #0078ff;
    width: 40px;
    bottom: -12px;
    left:50%;
    transform:translate(-50%);

}

#work .work-content{
    background-color: white;
    box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%);
}


#work .work-content a {
    text-decoration: none;
    /* box-shadow: 0 13px 8px -10px rgb(0 0 0 / 10%); */
}
#work .work-content a h2{
    color: #1e1e1e;
    font-size: 1.2rem;

}
#work .work-content a p{
    color: #0078ff;
    font-size: .8rem;
}
#work .work-content a span{
    font-size: .8rem;
    color: #4e4e4e;

}

#work .work-icon{
    width:40px;
    height:40px;
    border-radius:50%;
    border:1px solid #0078ff;
 
    color:#0078ff;
    font-size: 2.5rem;
    margin-left:auto

}
#work .work-icon i{
    font-size: 2.5rem;
    font-weight: 100;
    
}
#work .work-content a:hover img{
    transform: scale(1.3);
    
}
#work .work-content a img{
    transition: all 1s;


}
#work .work-content .content-img{
    overflow: hidden;
}

 .empty{
    background-image: url(../images/overlay-bg.jpg);
    position:relative;
    
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    height:250px;
    margin-bottom:40px;
}
.empty .layer{
    background-color:  #0078ff;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.7;

}

#blog {
    margin-bottom: 50px;;
}

#blog .blog-header h2{
    
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;

}
#blog .blog-header p{
    position:relative;
}
#blog .blog-header p::before{
    content:"";
    position:absolute;
    height: 5px;
    background-color: #0078ff;
    width: 40px;
    bottom: -12px;
    left:50%;
    transform:translate(-50%);

}

#blog .card-body h5{
    font-size: 1.3rem;
    margin-top: 0.6rem;
}
#blog .card-body a{
    text-decoration: none;
    color: #1e1e1e;
    margin-bottom: 0.75rem
}

#blog .card-footer img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
    /* overflow: hidden; */


}
#blog .card-footer a{
    text-decoration: none;

}
#blog .card-footer a span{
    color: #1e1e1e;
    transition: all 0.5s ease-in-out;
}

#blog .card-footer a:hover span{
    color:#0078ff;
}

#blog .card-body{
    position:relative;
    padding: 1.25rem;
}
#blog .card-badge{
    position: absolute;
    text-align: center;
    top: -16px;
    left: 15px;
    right: 15px;
    line-height: 25px;
    overflow: hidden;
}




#contact{
    /* position:relative; */
    background-image: url(../images/overlay-bg.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    position: relative;
    padding-top:50px;

}
#contact .layer{
    background-color:  #0078ff;
    position:absolute;
    height:100%;
    width:100%;
    top:0;
    left:0;
    opacity:0.7;
    padding: 0;

}
#contact .container{
    margin-top: 40px;
    position:relative;
    margin-bottom: 30px;
}



#contact .content-left h3{
    position:relative;
    margin-bottom: 40px;
}
#contact .content-left h3::before{
    content:"";
    position:absolute;
    background-color:#0078ff;
    width:100px;
    height:3px;
    bottom:-12px;
    
}
#contact .content-left input{
    width:100%;
    margin-bottom: 16px;
    height:40px;
    /* padding:10px; */
    padding: 0.375rem 0.75rem;
    border: 1px solid #ced4da;
    border-radius: 6px;
    
}
#contact .content-left textarea{
    width:100%;
    padding:10px;
    margin-bottom: 15px;
    border-radius: 6px;
    height:100px;
    border: 1px solid #ced4da;
}
#contact .content-left a:hover button{
    background-color: #0062d3;
    /* box-shadow: 5px 5px 5px 5px red; */
    box-shadow: 0 0 0 4px #cde1f8;
    
    
}
#contact .content-left button{
    border:none;
   
    border-radius:45px;
    background-color: #0078ff;
    color: white;
    padding: 0.9rem 2.3rem;
    font-size: 1.2rem;
    margin-bottom: 20px;


}

#contact .content-right h3{
    position:relative;
    margin-bottom: 40px;
}
#contact .content-right h3::before{
    content:"";
    position:absolute;
    background-color:#0078ff;
    width:100px;
    height:3px;
    bottom:-12px;
    
}
#contact .content-right ul{
    list-style-type: none;
}
#contact .content-right ul i{
    padding:10px;
    color:#0062d3;
}
#contact .content-right p{
    font-size: 1.25rem;
    font-weight: 300;
    margin-bottom: 1rem;
}

#contact .content-right .content-right_icons{
    padding:10px 50px;
}
#contact .content-right .content-right_icons i{
    
    font-size: 1.7rem;
    border-radius: 50%;
    border:3px solid #0062d3;
    margin:0 3px;
    padding:10px;
    color:black;

}
#contact .content-right .content-right_icons a:hover i{
    color:white;
    background-color: #0062d3;
    box-shadow: 0 0 0 4px #cde1f8;

}
#contact .space{
    margin-top: 50px;
}

.footer{
    text-align: center;
    margin:10px;
    position: relative;
    color:white;
   

}

.footer a{
    text-decoration: none;
    color:white;
    
}